<?xml version="1.0" encoding="UTF-8"?>
<included>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMask>
                    <value>(^|\W)\d{11}(?=$|\W)</value>
                    <mask>$1***********</mask>
                </valueMask>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="stdout_json"/>
    </root>
</included>
