name: ..build.yaml

on: [workflow_call]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build & publish
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java v21.x
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21.x
          cache: gradle

      - name: Setup ktlint
        uses: nbadal/action-ktlint-setup@v1
        with:
          ktlint_version: '1.0.0'

      - name: Ktlint
        run: bash ./linting.sh

      - name: Gradle test and build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew :apps:${{ github.workflow }}:build

      - name: Publish Docker image
        if: github.ref == 'refs/heads/master'
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: personoversikt
          image_suffix: ${{ github.workflow }}
          tag: ${{ github.sha }}
          docker_context: apps/${{ github.workflow }}
          dockerfile: 'docker/Dockerfile'
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy-qa:
    name: Deploy to preprod
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment: dev-gcp
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          PRINT_PAYLOAD: true
          CLUSTER: dev-gcp
          RESOURCE: apps/${{github.workflow}}/.nais/dev.yaml
          VAR: version=${{ github.sha }},image=${{ needs.build.outputs.image }}

  deploy-prod:
    name: Deploy to prod
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment: prod-gcp
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          PRINT_PAYLOAD: true
          CLUSTER: prod-gcp
          RESOURCE: apps/${{github.workflow}}/.nais/prod.yaml
          VAR: version=${{ github.sha }},image=${{ needs.build.outputs.image }}
